.sass-cache
*.css.map
*.css

npm-debug.log
node_modules
server_build
/tmp
/public/*
/test/public/*
/test/test_db/*
!/public/*.html
!/public/favicon.ico
!/public/pics
/db
/db_*
mongod.pid
app_w/build
tags
server/config/REGISTRATION_IS_ALLOWED

# temporary development files
/development/stack-DEVELOPMENT.yml

# deployment details
/deploy_remote
